.division1{
    background-color:rgb(11, 47, 114);
    width:240px;
    height:150px;
    border-radius: 10%;
    color:white;
    font: normal 25px arial;}
    section{
        width:500px;
        height:500px;
        background-color: white;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 5%;
        box-shadow: 1px 1px 6px;
        overflow-y: scroll;
        scrollbar-width: thin;}
        .con{
        top:10px;}
        #input-concluid{
        position:relative;
        width: 30px;
        height:30px;
        border-radius: 100%;
        overflow: hidden;
        }
        .task{
        font:normal 20px bold;
        }
        .title{
            text-transform:uppercase;
            color:red;
        font-size: 200%;
        position:relative;
        top:-15px;}
        .title2{
            text-transform:uppercase;
            color:green;
            font-size: 200%;
            position:relative;
            top:-15px;}
        h2{
        border-radius: 10px;
        font: normal 30px Arial;
        display: flex;
        align-items: center;} 
        .input-text{
        background-color:black;
        color: gray;
        }
        .send{
            background-color:black;
            color: gray;
            }
        .image{
        position: absolute; 
        height: 100%; 
        max-width:100%;
        top: 0%;
        left: 0%;
        }